<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Buat Sesi Untuk Panitia</title>
    <style>
        
    </style>
</head>
<body>
    <nav>
        <div><h3>Nama Project</h3></div>
        <div>
            <ul>
                <li><a href="/Panitia">Panitia</a></li>
                <li><a href="/Peserta">Peserta</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        Error 404
    </div>

<script>
</script>
</body>
</html>