<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Code Tidak Ditemukan | AnnonFeed</title>
</head>
<body>
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/Panitia">Panitia</a></li>
                <li><a href="/Peserta">Peserta</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <h2>ERROR, Code</h2>
        <p class="big">{{code}}</p>
        <h3>Tidak Ditemukan.</h3>
        <button onclick="window.location.href='./join'">Kembali Halaman Join</button>
    </div>

<script>
    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>