<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | AnnonFeed</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="styles.css">
</head>
<body class="white-bg" id="home">
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/" id="here">Home</a></li>
                <li><a href="/new">Buat Sesi Baru</a></li>
                <li><a href="/login">Masuk Kembali</a></li>
                <li><a href="/join">Bergabung</a></li>
                <li><a href="/Help">Bantuan</a></li>
            </ul>
        </div>
    </nav>
        <div class="container-full home">
            <h1 class="text-center">Terima <span style="color: #933dc9;">Feedback</span> dari acara konfrensi anda dengan mudah</h1>
            <h1>dengan Annon<span class="name-2">Feed</span>.</h1>
            <div class="nav-container">
            <div id="admin">
                <h3 class="text-center admin">Untuk Panitia</h4>
                <button onclick="window.location.href='./new'">Buat Sesi Baru</button>
                <button onclick="window.location.href='./login'">Masuk kembali</button>
            </div>
            <div id="user">
                <h3 class="text-center">Untuk Peserta</h3>
                <button onclick="window.location.href='./join'">Bergabung Dengan Code</button>
            </div>
            <div id="info"><p>* Untuk saat ini, akses untuk Panitia hanya tersedia di desktop.</p><p style="margin-top: 10px;">Bingung? Akses bantuan <a href="/help">disini</a>.</p></div>
            </div>
        </div>
<script>
    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>