<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join | AnnonFeed</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="white-bg">
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Buat Sesi Baru</a></li>
                <li><a href="/login">Masuk Kembali</a></li>
                <li><a href="/join" id="here">Bergabung</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <div class="login">
            <h1>Masuk<br> Ke Event</h1>
            <div>
                <form id="sign-up" method="post" action="/join">
                    {{{error}}}
                    <label for="code">Masukkan Kode</label>
                    <input type="number" id="code" name="code" placeholder="Masukkan code 6 digit">
                    <button disabled type="submit">Bergabung</button>
                </form>
            </div>
        </div>
    </div>
<script>

    const code = document.getElementById('code')
    const button = document.querySelector('form > button')
    code.addEventListener('input', (e) => {
        if(code.value.length !== 6){
            button.disabled = true;
        }else{
            button.disabled = false;
        }
    })

    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>