<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join | AnnonFeed</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Buat Sesi Baru</a></li>
                <li><a href="/join" id="here">Bergabung</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <div class="login">
            <h1>Masuk<br> Ke Event</h1>
            <div>
                <form id="sign-up" method="post" action="/new">
                    <label for="code">Masukkan Kode</label>
                    <input type="number" id="code" name="code" placeholder="Masukkan code 6 digit">
                    <button disabled type="submit">Buat Sesi</button>
                </form>
            </div>
        </div>
    </div>
<script>
    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>