<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Buat Sesi | AnnonFeed</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=info" />
</head>
<body class="white-bg">
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Buat Sesi Baru</a></li>
                <li><a href="/login" id="here">Masuk Kembali</a></li>
                <li><a href="/join">Bergabung</a></li>
                <li><a href="/Help">Bantuan</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <div class="login">
            <h1>Masuk<br>Kembali</h1>
            <div>
                <form id="log-in" method="post" action="/login">
                    {{{error}}}
                    <label for="event-code">Code Event</label>
                    <input type="text" required id="event-code" name="code" placeholder="Masukkan Code...">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Masukkan Password Panitia...">
                    <button type="submit">Buat Sesi</button>
                </form>
            </div>
        </div>
    </div>

<script>
    const form = document.getElementById('sign-up');
    const button = document.querySelector('form > button');

    form.elements['conf-pass'].addEventListener('input', (e) => {
        if(form.elements['password'].value !== form.elements['conf-pass'].value){
            button.disabled = true;
        }else{
            button.disabled = false;
        }
    })
    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>