<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Buat Sesi | AnnonFeed</title>
    <style>
        
    </style>
</head>
<body>
    <nav>
        <div id="title"><h2><span class="name-1">Annon</span><span class="name-2">Feed</span></h2></div>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new" id="here">Buat Sesi Baru</a></li>
                <li><a href="/join">Bergabung</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-full">
        <div class="login">
            <h1>Buat<br> Sesi Baru</h1>
            <div>
                <form id="sign-up" method="post" action="/new">
                    <label for="event-name">Nama Event</label>
                    <input type="text" id="event-name" name="event-name" placeholder="Workshop...">
                    <label for="password">Buat Password</label>
                    <input type="password" id="password" name="password" placeholder="Masukkan password...">
                    <label for="conf-pass">Konfirmasi Password</label>
                    <input type="password" id="conf-pass" placeholder="Konfirmasi Password">
                    <button disabled type="submit">Buat Sesi</button>
                </form>
            </div>
        </div>
    </div>

<script>
    const form = document.getElementById('sign-up');
    form.elements['conf-pass'].addEventListener('input', (e) => {
        if(form.elements['password'].value !== form.elements['conf-pass'].value){
            console.log(`${form.elements['password'].value} isn't same as ${form.elements['conf-pass'].value}`);
            document.querySelector('form > button').disabled = true;

        }else{
            console.log(`${form.elements['password'].value} is same as ${form.elements['conf-pass'].value}`);
            document.querySelector('form > button').disabled = false;
        }
    })
    document.getElementById('title').addEventListener('click', (e) => {
        window.location.href='./'
    })
</script>
</body>
</html>