/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); */

html,body, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}

@keyframes slideFromTop{
    0%{
        transform: translateY(-100%);
        display: none;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body{
    background-color: #0c0605;
    font-family: 'Roboto Flex', sans-serif;
    color: #fff;
}

.marginbody{
    margin-top: 50px;
}

.name-1{
    color: #fff;
}

.name-2{
    color: #f36f3b; 
}


nav{
    color: #fff;
    background: linear-gradient(to right, #22110a, #1e1227);
    background-color: #22110a;
    margin: 0;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul > li{
    list-style: none;;
}

nav li > a{
    text-decoration: none;
    color: #ffffff9f;
    transition: all .2s;
}

nav li > a#here{
    color: #fff
}

nav li > a:hover{
    color: #f36f3b; 
}

div.error{
    margin: 15px 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 1px solid #80808062;
    border-left: 3px solid red;
    padding: 5px 0 5px 10px;
    border-radius: 0 2px 2px 0;
}

div.error > svg{
    height: 22px;
}

div.error > p{
    font-size: 14px;
}

.container-full{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#feedback .container{
    animation: 1s ease-in-out 0s 1 slideFromTop ;
    background-color: #1b1c1d;
    width: 70%;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.container-head{
    margin: 10px 0;
}


#feedback .container-main{
    display: flex;
    flex-direction: column;
}

#feedback #at-a-glance{
    margin-bottom: 5vh;
}

#feedback #at-a-glance #event-name{
    margin-top: 15px;
    font-size: 40px;
}

#feedback input#name{
    width: 250px;
}

#feedback label{
    margin-top: 15vh;
    font-size: 15px;
}

#feedback #feedbackMessage{
    width: 95%;
    /* margin: auto; */
    display: block;
    resize: none;
    height: 20vh;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1c1d;
    color: #fff;
}

#feedbackMessage:focus{
    border: 1px solid #f36f3b ;
    outline: none;
}

.login{
    animation: 1s ease-in-out .0s 1 slideFromTop ;
    width: 45%;
    max-width: 700px;
    height: fit-content;
    background-color: #1b1c1d;
    color: #fff;
    padding: 25px;
    padding-left: 0 ;    
    display: flex;
    justify-content: start;
    border-radius: 10px;
}

.login > :first-child{
    align-self: center;
    padding: 20px;
    margin-left: 15px ;
    font-size: 40pt;
}

.login > div{
    flex: 2 0;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.login form{
    flex: 2 0;
    display: flex;
    flex-direction: column;
}

.login label, label{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.login input, input{
    height: 25px;
    width: 95%;
    margin-bottom: 15px;
    border: unset;
    font-size: 13px;
    border-bottom: 1px solid #fff ;
    background-color: #1b1c1d;
    color: #fff;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #f36f3b ;
}

.login button, #feedback button{
    margin: 15px 0 5px 0;
    font-size: 12pt;
    align-self: start;
    border-radius: 15px;
}

.login button[disabled], #feedback button[disabled]{
    opacity: .6;
}

.login button:hover, #feedback button:hover{
    scale: 1;
    translate: 0 0;
}

.text-center{
    text-align: center;
}


.home .nav-container{
    display: grid;
    flex-direction: row;
    padding-top: 8vh ;
    grid-template-areas: 'admin user' 'info info';
}

.home .nav-container > *{
    padding: 0 20px;
}

.home .nav-container > #admin{
    border-right: 1px solid rgb(9, 36, 31);
    grid-area: admin;
}

.home .nav-container > #user{
    grid-area: user;
}

.home .nav-container > #info{
    grid-area: info;
    text-align: center;
    margin-top: 20px;
}

#dashboard .container-full{
    background-color: #151515;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    /* position: relative; */
}

#dashboard  h1#title{
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
}

#dashboard #at-a-glance{
    padding-right: 10dvw;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 15%;
    background-color: #f87e45;
    padding: 20px;
    color: #000;
    z-index: 5;
}

#dashboard #at-a-glance #title{
    margin: 10px 0 20px 0;
}

#dashboard .scroll-container{
    margin-left: 15%;
}

#dashboard .scroll-container .container-head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    /* margin-left: 230px; */
    background-color: #1b1c1d;
    padding-top: 20px;
    padding-left: 18%;
    padding-bottom: 15px ;
}



#dashboard .feedback-author{
    margin-top: 10px;
}

#dashboard .feedback-author::before{
    content: '\1F534';
    margin-left: -5px;
    margin-right: 5px;
}

#dashboard .scroll-container{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    overflow-x: hidden;
}

#dashboard{
    overflow-x: hidden;
}

#dashboard .container-main .feedback{
    /* border-top: 1px solid #f87e45 ; */
    width: 100%;
    border-bottom: 1px solid #f87e45;
    padding: 20px 0;
}

#dashboard .scroll-container .container-main{
    width: 75%;
    height: 100%;
    margin-top: 0px;
    margin-left: 200px;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 



button{
    all: unset;
    position: relative;
    display: inline-block;
    border-radius: 20px ;
    margin: 10px;
    color: #fff;
    padding: 8px 10px;
    background-color: unset;
    transition: all 0.4s;
    z-index: 1;
    overflow: hidden;
    font-size: 12pt;
    outline: none;

}

button:hover{
    translate: 2px -2px;
    scale: 1.1;
    
}


button::before{
    content: '';
    width: 125%;
    height: 125%;
    top: -2px;
    left: -2px;
    position: absolute;
    background-color: #f36f3b;
    z-index: -2;
}

button::after{
    content: '';
    width: 80%;
    height: 100%;
    top: 5px;
    left: 5px;
    translate: 4px -65px;
    background-color: #933dc9;
    position: absolute;
    transition: all 0.5s ease;
    z-index: -1;
}

button:hover::after{
    translate: -5px -10px;
    border-radius: 0 0 50% 50%;
    scale: 2.2;
}

button[disabled]:hover{
    translate: 0 0;
    scale: 1;
    color: #fff;
}

button[disabled]:hover::after{
    translate: 4px -45px;
    border-radius: 0;
    scale: 1;
}

.login form > *:not(.error){
    display: block;
}

.big{
    font-size: 45pt;
    font-weight: bold;
    margin: 5px 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
    /* .white-bg{
        background-color: #ecebeb;
    } */
    #home .container-full{
        width: 95vw;
        margin: auto;
    }
    .container-full{
        height: 94dvh;
    }

    body{
        margin-top: 60px;
    }

    .home .nav-container {
        grid-template-areas: 'user' 'info';
    }

    .home .nav-container > #user{
        border-bottom: 1px solid rgb(9, 36, 31);
        /* padding-bottom: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .home .nav-container > #admin{
        border-right: unset;
        display: none;
        
    }
    
    nav div ul{
        display: none;
    }

    nav{
        justify-content: center;
        padding: 15px 0;
    }

    #feedback .container{
        width: 100%;
        margin: auto;
        height: 95vh;
    }

    #feedback .container input#name{
        margin: 5px 0 20px 0;
        width: 60%;
        height: 40px;
        font-size: 15px;
        line-height: 1px;
    }

    #feedback #feedbackMessage{
        font-size: 15px;
        
    }

    .login{
        width: 90%;
        height: 100dvh;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .login > *{
        width: 100%;
    }

    .login > div{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5vh;
    }

    .login > :first-child{
        padding: 0;
        margin-left: 0 ;
        
    }

    .login > div{
        padding-left: 0;
        margin-bottom: 20px;
    }

    .login form{
        width: 100%;
    }

    .button-container{
        flex-direction: column;
    }

    .button-container > *{
        padding: 10px 0;
    }
    
}



